
:root {
  padding: 0px;
  margin-bottom: -6px;
}

.sv_main .sv_p_root > .sv_row:nth-child(even) {
  background-color: #fafafa;
}

img.intro-fig {
  width: 100%;
  height: auto;
  vertical-align: middle;
  margin: 1px
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.sv_main .sv_p_root > .sv_row {
  border-bottom:transparent;
}

ul.intro-list li { margin-bottom: 0.5em; }
  
:imagebutton {
  padding: 0px;
  margin-bottom: -6px;
}


div.min-max-text {
  display:inline-block;    
}

@media only screen and (max-width: 520px) {
  div.min-max-text {
    width: 18%;
    font-size: min(14px, 2.75vw);
    text-align: center;
    line-height: min(15px, 2.75vw);
    margin: -10px -5px;
  }
}

sv_image_image {
  width:540px;
  height: auto;
}

div.footnote {
  font-size: 10px
}

div.instructions-column {
  display: inline-block;
  height: auto;
}